.entry-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.EntryContainer{
    padding: 5%;
    border-radius: 3%;
    background-color: white;
    box-shadow:0px 0px 15px -5px black;
}